.foot {
  margin-top: 55px;
}
footer {
  margin-left: 10vw;
  margin-right: 10vw;

  display: flex;
  flex-direction: column;
}
.container {
  color: rgba(228, 229, 234, 1);
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  color: #e4e5ea;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fourBlock {
  text-align: right;
}

.social {
  display: flex;
  justify-content: right;
  gap: 0.62rem;
}

.title {
  color: #656566;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.copyright {
  color: #e4e5ea;
  text-align: right;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 768px) {
  footer {
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: center;
    align-self: center;
  }

  .title {
    font-size: 12px;
    letter-spacing: 0.6px;
  }
  .adress {
    font-size: 14px;
  }

  .container {
    grid-column-gap: 48%;
  }
  .social {
    justify-content: left;
  }

  .social img {
    width: 24px;
    height: 24px;
  }

  .copyright {
    text-align: left;
    margin-top: 34px;
  }

  .oneBlock {
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column: 1 / 3;
  }
  .twoBlock {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: 1 / 2;
  }
  .threeBlock {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: 2 / 3;
  }
  .fourBlock {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column: 1 / 3;

    text-align: left;
  }
}
